#pictures-panel .view-3d {
    float: left;
}

.view-3d {
    text-align: center;
    display: inline-block;
    perspective: 1000px;	
}

.button-3d {
    height: 40px;	
    width: 140px;
}

.picture-3d {
    height:150px;
    width: 600px;
}

.button-3d, .picture-3d {
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

.pane {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid #b45b67;	
}

.pane img {
    height:150px;
    width: 600px;
}

#pictures-panel .view-3d:last-child img {
    -webkit-transform: scale(-1,-1);
    -moz-transform: scale(-1,-1);
    -ms-transform: scale(-1,-1);
    -o-transform: scale(-1,-1);
    transform: scale(-1,-1);
}

figure {
    color: white;
}

.front {
    background-color: #b84b59;
    background-image: linear-gradient(#b44b52, #b84b59 25%, #532427);
    z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front .image-title {
    background-color: transparent;
    color: white; 
    position: absolute;
    margin: 20px;
    z-index: 3;
}

.front {
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    -ms-transform: translate3d(0,0,20px); 
    -o-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
}

.back {
    background:  #383838;
    background-image: linear-gradient(#494848, #383838 25%, #292828);
    color: white;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg) translate3d(0,0,25px);
    -moz-transform: rotateY(180deg) translate3d(0,0,25px);
    -ms-transform: rotateY(180deg) translate3d(0,0,25px); 
    -o-transform: rotateY(180deg) translate3d(0,0,25px);
    transform: rotateY(180deg) translate3d(0,0,25px);
}

.back p, .back h1 {
    margin: 10px;
}

.bottom {
    background-color: #b84b59;
    background-image: linear-gradient(#b44b52, #b84b59 25%, #532427);
    -webkit-transform: rotateX(-90deg) translate3d(0,0,20px);
    -moz-transform: rotateX(-90deg) translate3d(0,0,20px);
    -ms-transform: rotateX(-90deg) translate3d(0,0,20px); 
    -o-transform: rotateX(-90deg) translate3d(0,0,20px);
    transform: rotateX(-90deg) translate3d(0,0,20px);
}

.button-3d:hover {
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg); 
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); 
}

.picture-3d:hover {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg); 
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: 1s ease-out;      
    -moz-transition: 1s ease-out;      
    -ms-transition: 1s ease-out;      
    -o-transition: 1s ease-out;      
    transition: 1s ease-out;      
}

.pictures-panel .view-3d:last-child .picture-3d:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg); 
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: 1s ease-out;      
    -moz-transition: 1s ease-out;      
    -ms-transition: 1s ease-out;      
    -o-transition: 1s ease-out;      
    transition: 1s ease-out;      
}