.filter{
	margin: 0 auto;
	width: 1200px;	
}

.filter table{	
	width: 100%;
	line-height: 14px;
}

.filter .buttons-panel{
	margin: 0 auto;
	width: 278px;	
}

#filterPanel{
	clear: both;
	padding: 2px 0;
	margin: 0 auto;
	width: 390px;
}

#advancedFilterPanel{
	width: 780px;
	float: left;
	margin-top: 3px;
}

.property-name{
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 15px;
	height: 16px;
	width: 145px;
	background: #a5474e;
}

.property-value{
	padding: 2px;
	background: #cc888e;
	height: 16px;
	width: 245px;
}

.property-value input, .property-value select{
	padding: 2px;
	font-size: 14px;
	margin: 2px;
	width: 243px;
}

.property-value input[type=date]{
	height: 18px;
}

.property-value select{
	width: 249px;
}
