.filter{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.filter table{	
	width: 100%;
	line-height: 14px;
}

.buttons-panel{
	margin: 10px auto;
	width: 350px;	
}

#filterPanel{
	flex: 0 1 27.5em;
	height: 7em;
}

.advanced-filter, .quick-filter{
	flex: 0 1 27.5em;
	height: 7em;
}

.property-name{
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 15px;
	height: 16px;
	width: 145px;
	background: #a5474e;
}

.property-value{
	padding: 2px;
	background: #cc888e;
	height: 16px;
	width: 245px;
	box-sizing: border-box;
}

.property-value input, .property-value select{
	padding: 2px;
	font-size: 14px;
	margin: 2px;
	width: 243px;
}

.property-value input{
	height: 18px;
}

.property-value select{
	width: 249px;
}
