@import url("../css/common.css");
@import url("../css/3dfeatures.css");
@import url("../css/tables.css");
@import url("../css/filters.css");
@import url("../css/formElements.css");

nav {
	width: 100%;
	height: 100%;
	background-color: #b84b59;
	background-image: linear-gradient(#b44b52, #b84b59 25%, #532427);
	margin: 0;
	padding-top: 5px;
	top:0;
	position: relative;
	z-index: 3;
}

nav>.menu-content{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding-left: calc((100% - 82em)/2);
	bottom:0;
	height: 100%;
}

nav>.menu-content .nav-button:hover {
	text-shadow: 0 0 15px rgba(255,255,255, 0.8);
} 

nav .nav-button {
	display: inline-block;
    line-height: 40px;
    margin: 0px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

nav img{
	height: 40px;
	width: 40px;
}

nav .lang-button{
	float: right;
}

main {
	width: 1200px;
	overflow: hidden;
	background-color: white;
	margin: 50px auto;
	bottom:0;
	height: 100%;
	overflow: scroll;
}

footer {
	width: 100%;
	background: #e7e4e4 url("../images/bg-footer.png") repeat;
	border-top: 10px solid #9c4757;
	height: 50px;
	overflow: hidden;
	bottom: 0;
	position: fixed;
}

footer>.footer-content{
	width: 1200px;
	overflow: hidden;	
	margin: 0 auto;
	bottom:0;
	height: 100%;
}

footer h1, footer a{
	float: left;
	margin: 12px 10px
}

footer img:hover{
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-ms-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
	-webkit-transform:  scale(1.5,1.5) rotate(360deg);
	-moz-transform:  scale(1.5,1.5) rotate(360deg);
	-ms-transform:  scale(1.5,1.5) rotate(360deg);
	-o-transform:  scale(1.5,1.5) rotate(360deg);
	transform: scale(1.5,1.5) rotate(360deg);
}

section {
	display: none;
	margin: 70px auto;
}

section.active{
	display: block;
}

.tabs{
	list-style: none;
	margin-left: 20px;	
}

.tabs li{
	color: white;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin-left: 2px;
	border: 1px #a5474e solid;
	border-radius: 5px 5px 0 0;
	padding: 7px 14px;
	background-color: #a5474e;
}

.tabs .active{
	color: #a5474e;
	font-weight: bold;
	background-color: #fff;
	border-bottom-color: #fff;
}

.tab-panel{
	background-color: #fff;
	overflow-wrap: break-word;
	margin: -1px 10px 10px;
	padding: 10px;
	border: 1px #a5474e solid;
	border-radius: 5px 5px 5px 5px;
}

.tab-panel div{
	display: none;	
}

.tab-panel .active{
	display: flex;
}

.flex-container{
	padding-left: calc((100% - 82em)/2);
	display: flex;
	flex-wrap: wrap;
	flex-grow: unset;
}

.flex-item.big{
	flex: 0 1 55em;
	height: 25em;
}

.flex-item.small{
	flex: 0 1 27.5em;
	height: 25em;
}

.grid-container{
	padding-left: calc((100% - 82em)/2);
	display: grid;
	grid-template-rows: 25em 25em 25em;
	grid-template-columns: 27.5em 27.5em 27.5em;
	grid-template-areas: 
	"bigtop bigright bigright"
	"bigtop smallcenter bigbottom"
	"bigleft bigleft bigbottom"
}

.grid-item.big-left{
	grid-area: bigleft;
	margin-bottom: -4px;
}

.grid-item.big-right{
	grid-area: bigright;
	margin-bottom: -4px;
}

.grid-item.big-top{
	grid-area: bigtop;
}

.grid-item.big-bottom{
	grid-area: bigbottom;
}

.grid-item.small-center{
	grid-area: smallcenter;
}

#orderListPage, #settingsPage{
	padding: 0 calc((100% - 82.5em)/2);
}
#shapePage{
	padding: 0 calc((100% - 82.5em)/2 + 6.75em);
}

@media screen and (max-width: 82em) {
	#orderListPage, #settingsPage{
		padding: 0 5px;
	}
	#shapePage{
		padding: 0 6.75em;
	}

	.flex-container{
		padding-left: calc((100% - 55em)/2);
	}
	.grid-container{
		padding-left: calc((100% - 55em)/2);
		grid-template-rows: 25em 25em 25em 25em 25em;
		grid-template-columns: 27.5em 27.5em;
		grid-template-areas:
		"bigright bigright"
		"bigtop bigbottom"
		"bigtop bigbottom"
		"bigleft bigleft"
		"smallcenter ."
	}
}

@media screen and (max-width: 55em) {
	.tab-panel{
		overflow-x: scroll; 
	}
	.flex-container{
		padding-left: calc((100% - 27.5em)/2);
	}
	.grid-container{
		padding-left: calc((100% - 27.5em)/2);
		grid-template-rows: 25em 25em 25em 25em 25em 25em 25em;
		grid-template-columns: 27.5em;
		grid-template-areas:
		"bigright"
		"bigtop"
		"bigtop"
		"smallcenter"
		"bigbottom"
		"bigbottom"
		"bigleft"
	}
}

.flex-container img, .grid-container img{
 width: 100%;
 height: 100%;
}

.shape.cherry{
    background: url("../images/cherry.png");
    background-size: cover;
    float: left;
    height: 17.9375em;
    margin: 0 1em 1em -6.75em;
    width: 18.9625em;
    transition: all ease 1s;
    shape-margin: 0.9em;
	shape-outside:polygon(-34.6% 11.25%, 0.6% 4.75%, 27.6% 24.75%, 67.6% 38.75%, 82.2% 61.95%, 79.1% 63.25%, 44.5% 70.85%, -21.2% 78.35%, -50.2% 0%)
}

.shape.cherry:hover {
    background-image: url("../images/Gluecksklee.png");
	shape-outside: polygon(-95.7% 95.95%, -24.45% -10.45%, 98.95% 31%, 89.15% 46.85%, 53.4% 52.8%, 67.05% 6.1%, 73.75% 69.3%, 8.55% 93.15%)
}

