
@import url("../css/common.css");
@import url("../css/3dfeatures.css");
@import url("../css/tables.css");
@import url("../css/filters.css");
@import url("../css/formElements.css");
@import url("../css/dialogues.css");
@import url("../css/bootstrap.css");
nav {
	width: 100%;
	height: 4em;
	background-color: #b84b59;
	background-image: linear-gradient(#b44b52, #b84b59 25%, #532427);
	margin: 0;
	padding-top: 5px;
	top:0;
	position: fixed;
	z-index: 3;
}

nav>.menu-content {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding-left: calc((100% - 82em)/2);
	bottom:0;
	height: 100%;
}

nav>.menu-content .nav-button:hover {
	text-shadow: 0 0 15px rgba(255,255,255, 0.8);
} 

nav .nav-button {
	display: inline-block;
    line-height: 40px;
	margin: 0px 5px;
	padding: 0px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

nav img {
	height: 40px;
	width: 40px;
}

nav .lang-button {
	float: right;
}

main {
	width: 1200px;
	overflow: hidden;
	background-color: white;
	margin: 50px auto;
	bottom:0;
	height: 100%;
	overflow: scroll;
}

footer {
	width: 100%;
	background: #e7e4e4 url("../images/bg-footer.png") repeat;
	border-top: 10px solid #9c4757;
	height: 4em;
	overflow: hidden;
	bottom: 0;
	position: fixed;
}

footer>.footer-content {
	width: 1200px;
	overflow: hidden;	
	margin: 0 auto;
	bottom:0;
	height: 100%;
}

footer h1, footer a {
	float: left;
	margin: 12px 10px
}

footer img:hover {
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-ms-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
	-webkit-transform:  scale(1.5,1.5) rotate(360deg);
	-moz-transform:  scale(1.5,1.5) rotate(360deg);
	-ms-transform:  scale(1.5,1.5) rotate(360deg);
	-o-transform:  scale(1.5,1.5) rotate(360deg);
	transform: scale(1.5,1.5) rotate(360deg);
}

section {
	display: none;
	margin: 6em auto 6em;
	padding: 0 calc((100% - 82.5em)/2);
}

section.active {
	display: block;
}

.tabs {
	list-style: none;
	margin: 0 0 0 20px;	
}

.tabs li {
	color: white;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin-left: 2px;
	border: 1px #a5474e solid;
	border-radius: 5px 5px 0 0;
	padding: 7px 14px;
	background-color: #a5474e;
}

.tabs .active {
	color: #a5474e;
	font-weight: bold;
	background-color: #fff;
	border-bottom-color: #fff;
}

.tab-panel {
	background-color: #fff;
	overflow-wrap: break-word;
	margin: -1px 10px 10px;
	padding: 10px;
	border: 1px #a5474e solid;
	border-radius: 5px 5px 5px 5px;
}

.tab-panel div {
	display: none;	
}

.tab-panel .active {
	display: flex;
}

.flex-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-grow: unset;
	flex-shrink: unset;
}

.flex-item.active img {
	opacity: 0.7;
}

.flex-item.small {
	flex: 0 1 25%;
}

.flex-item.small.right {
	flex: 0 1 100%;
}

.grid-container {
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-areas: 
	"main main main side"
	"main main main side"
	"main main main side"
	"main main main side"
	"foot foot foot foot"
}

#shapePage {
	width: 100%;
	height: 100%;
}

.grid-item.main {
	color: rgb(15, 15, 15);
	grid-area: main;
}

.grid-item.side {
	grid-area: side;
}

.grid-item.foot {
	grid-area: foot;
}

@media screen and (max-width: 80em) {
	section{
		padding: 1em;
	}	
	.grid-container .grid-item.main{
		overflow-y: scroll;
	}
	.grid-container .shape.video{
		height: 15em;
		width: 22em;
	}
	
	.grid-container .shape.cherry{
		margin-left: 0;
		height: 10em;
		width: 10em;		
	}
	.flex-item.small{
		flex: 0 1 50%;
	}
	.grid-container{
		margin-left: 1%;	
		display: grid;
		grid-template-rows:  25% 25% 25% 25%;
		grid-template-columns: 33% 33% 33%;
		grid-template-areas: 
		"main main side"
		"main main side"
		"foot foot side"
		"foot foot side"
	}
}

@media screen and (max-width: 60em) {
	.grid-container .shape.video{
		height: 10em;
		width: 16em;
	}

	.flex-item.small, .flex-item.small.right{
		flex: 0 1 50%;
	}

	.grid-container{
		margin-left: 1%;	
		display: grid;
		grid-template-rows: 17% 17% 17% 17% 16% 16%;
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		"main main"
		"main main"
		"side side"
		"side side"
		"foot foot"
		"foot foot"
	}
	#orderListPage{
		overflow-x: scroll;
	}
}

@media screen and (max-width: 40em) {

	.grid-container .shape.video{
		height: 10em;
		width: 15em;
	}	
	.grid-container .shape.cherry{
		margin-left: 0;
		height: 7em;
		width: 7em;		
	}
	.tab-panel{
		overflow-x: scroll;
	}
	.button-3d {
		width: 5em;
	}
	.button-3d figure{
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.flex-item.small, .flex-item.small.right{
		flex: 0 1 100%;
	}
	.grid-container{
		margin-left: 1%;	
		display: grid;
		grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-template-columns: 100%;
		grid-template-areas: 
		"main"
		"main"
		"side"
		"side"
		"side"
		"side"
		"foot"
		"foot"
		"foot"
		"foot"
	}
}

.flex-container img, .grid-container img {
	width: 100%;
	height: 100%;
}

.shape.laptops {
	background: url("../images/laptops.png");
	background-size: cover;
	float: left;
	height: 20em;
	width: 20em;
	margin: 25em 1em 1em -6.75em;
	transition: all ease 1s;
	shape-margin: 0.9em;
	shape-outside:polygon(-60.6% 84.75%, -107.6% 84.75%, 25.6% 60.75%, 102.2% 70.95%, 108.1% 81.25%, 60.5% 95.85%, -80.2% 100.35%, -60.2% 98%);
}

.shape.video {
	display: none;
	background: #b44b52;
	float: right;
	height: 25em;
	width: 40em;
	transition: all ease 1s;
	/* shape-margin: 0.9em; */
	shape-outside:inset();
}

.small.video{
	display: none;
	position: fixed;
	bottom: 4em;
	right: 4em;
	height: 10em;
	width: 20em;
	background-color: #9c4757;
	padding: 0;
}

.video.show {
	display: block;
}

/* .shape.video p {
	color: white;
	position: absolute;
	font-size: 1.5em;
	margin: 1em 1em;
} */

.shape.laptops:hover {
	height: 17em;
	width: 25em;
	margin-top: 20em;
	background-image: url("../images/laptop1.png");
	shape-outside: polygon(-10.45% 50.45%, 425.95% 71%, -29.15% 96.85%, -3.4% -2.8%, -97.05% 56.1%, 73.75% 69.3%, 8.55% 93.15%);
}

