table {
    width: 100%;
    margin: 5px 0;
    padding: 0;
    font-size: 14px;    
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
	background-color: #383f47;
	color: #b3b9c4;
}

table thead td, table td{
    padding: 5px 7px;
    line-height: 20px;
    text-align: left;
}

table thead tr{
    color: white;
	font-weight: bold;
    vertical-align: middle;
	background-color: #9c4757;
	background-image: linear-gradient(#b44b52, #b84b59 25%, #532427);
}

table tbody td {
    vertical-align: top;
    border-top: 1px solid #d8dbde;
}

table tbody td a {
	color: #d08b98;
}

table tbody td {
    vertical-align: top;
    border-top: 1px solid #d8dbde;
}

table thead td+td,table tbody td+td,table {
    border-left: 1px solid #d8dbde;
}

table thead tr:first-child td:first-child, table tbody tr:first-child td:first-child {
    border-radius: 5px 0 0 0;
}

table thead tr:first-child td:last-child, table tbody tr:first-child td:last-child {
    border-radius: 0 5px 0 0;
}

table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

table tbody tr:hover {
    background-color: #a5474e;
	color: #f6f7f8;
}

table tfoot td{
    text-align: right;
    height: 16px;
    padding: 0;
    margin: 0;
    /* background-color: rgb(32, 26, 26); */
    border: 1px solid #d8dbde;
    border-radius: 5px 5px 5px 5px;
}
table tfoot button{
    margin: 2px;
    border: #282d33;
}
.table-button{
    display: block;
    width: 100px;
    text-align: left;
}